# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Pytest
# =========================

.pytest_cache/

# =========================
# Test Artifacts
# =========================

artifacts/

# =========================
# IDE
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Mobile App Binaries
# =========================

apps/*.apk
apps/*.ipa

# Environment variables
.env